.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project-specific artifacts
cache/
output/*.gpx
output/*/*.gpx
output/json/*.json
output.old/*
sentry.dsn
heartbeat.url
cli.lock

# i kept a copy of old caches during Drupal -> Wordpress rewrite
cache.drupal/

# macOS litter
.DS_Store
