.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project-specific artifacts
cache/
output/*.gpx
output/*/*.gpx
output/json/*.json
output.old/*
sentry.dsn
cli.lock

# macOS litter
.DS_Store
